.spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 250px;
  }
}
