header.main-app {
  width: 100%;
  min-height: 100%;
  height: 100%;
  opacity: 1;
  position: relative;
  &.callout-active {
    top: 44px;
  }

  .top-bar {
    height: 100px;
    position: relative;
    z-index: 20;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: .6s ease-in-out;
    -o-transition: .6s ease-in-out;
    -moz-transition: .6s ease-in-out;
    transition: .6s ease-in-out;

    .logo {
      img {
        position: relative;
        top: 15px;
        width: 200px;
        display: block;
        margin: 0 3rem;
        left: 30px;
      }
    }

    .actions {
      display: block;

      button, a {
        border-radius: 0;
        padding: 15px 20px;
        background: #313131;
        border-color: #313131;
        text-decoration: none;
      }
    }

    .header-search-button {
      color: #313131;
    }

    .top-bar-icon {
      color: #313131;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
    }

    .top-bar-icon-inner {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      width: 26px;
      height: 32px;
      margin-top: -4px;
      position: relative;
    }

    .header-button {
      display: block;
      color: #313131;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100px;

      a {
        border: 1px solid #313131;
        background-color: rgba(49, 49, 49, 0);
        color: #313131;
        padding: 12px 20px;
        border-radius: 5px;
        text-decoration: none;
        -webkit-transition: all .8s;
        -o-transition: all .8s;
        -moz-transition: all .8s;
        transition: all .8s;
        font-weight: 500;
      }

      a:hover {
        color: #1779bd;
        background: white;
      }
    }
  }

  .top-bar.sticky {
    background: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);

    ul li a {
      color: #313131;
    }

    .top-bar-icon,
    .header-search-button {
      color: #313131;
    }

    .header-button a {
      color: #1779bd;
      border-color: #1779bd;
    }
  }
}

.top-menu {
  > div {
    height: 100px;

    ul {
      margin: 0;
      height: 100%;
      font-weight: 500;
      line-height: 32px;
      font-size: 17px;
      padding: 0;
      list-style: none;

      li {
        vertical-align: middle;
        line-height: inherit;
        position: relative;
        padding-left: 0;
        height: 100%;
        float: left;
        padding-top: 26px;

        a {
          font-family: "Open Sans";
          font-size: 14px;
          letter-spacing: 0.02em;
          color: #313131;
          display: block;
          position: relative;
          z-index: 1;
          height: 50px;
          padding: 0 30px;
          opacity: 1;
          text-decoration: none;
          line-height: 50px;
          margin: 0 1px;
          border-radius: 5px;
          -webkit-transition: 0.6s ease-in;
          -o-transition: 0.6s ease-in;
          -moz-transition: 0.6s ease-in;
          transition: 0.6s ease-in;
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &.active {
            color: #007bff;
            font-weight: 600;
          }
        }

        > ul.sub-menu {
          display: block;
          position: absolute;
          z-index: 555;
          min-width: 280px;
          white-space: nowrap;
          margin-top: 0;
          border: unset;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          padding: 25px 0;
          text-align: left;
          -webkit-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);
          -moz-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);
          opacity: 0;
          visibility: hidden;
          -webkit-transition: .3s ease-in;
          -o-transition: .3s ease-in;
          -moz-transition: .3s ease-in;
          transition: .3s ease-in;
          background-color: rgba(45, 45, 45, 1);
          color: #ffffff;
          font-family: "Open Sans";
          font-weight: 400;
          line-height: 30px;
          font-size: 16px;
          height: auto;

          li {
            display: block;
            padding: 10px 20px;

            a {
              opacity: .7;
              -webkit-transition: .3s;
              -o-transition: .3s;
              -moz-transition: .3s;
              transition: .3s;
            }
          }

          li:hover {
            a {
              padding-left: 50px;
              color: white;
              opacity: 1;
            }
          }
        }

        &:hover {
          > ul.sub-menu {
            opacity: 1;
            visibility: visible;
            margin-top: -10px;
          }
        }
      }
    }
  }
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-add-place {
  background: #227bda !important;
  border-color: #227bda !important;
}

.btn-primary {
  background: #227bda;
  border-color: #227bda;
}

.top-menu {
  .navbar {
    height: 100%;
  }

  ul {
    margin: 0;
    height: 100%;
    font-weight: 500;
    line-height: 32px;
    font-size: 17px;
    padding: 0;
    list-style: none;

    li {
      vertical-align: middle;
      line-height: inherit;
      position: relative;
      padding-left: 0;
      height: 100%;
      float: left;

      a {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0.02em;
        color: #313131;
        display: block;
        position: relative;
        z-index: 1;
        height: 50px;
        padding: 0 1vw;
        opacity: 1;
        text-decoration: none;
        line-height: 50px;
        margin: 0 1px;
        border-radius: 5px;
        -webkit-transition: 0.6s ease-in;
        -o-transition: 0.6s ease-in;
        -moz-transition: 0.6s ease-in;
        transition: 0.6s ease-in;

        &:hover {
          color: red;

          &:before {
            opacity: 1;
          }
        }
      }

      > ul.sub-menu {
        display: block;
        position: absolute;
        z-index: 555;
        min-width: 280px;
        white-space: nowrap;
        margin-top: 0;
        border: unset;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 25px 0;
        text-align: left;
        -webkit-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);
        box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .3s ease-in;
        -o-transition: .3s ease-in;
        -moz-transition: .3s ease-in;
        transition: .3s ease-in;
        background-color: rgba(45, 45, 45, 1);
        color: #ffffff;
        font-family: "Open Sans";
        font-weight: 400;
        line-height: 30px;
        font-size: 16px;
        height: auto;

        li {
          display: block;
          padding: 10px 20px;

          a {
            opacity: .7;
            -webkit-transition: .3s;
            -o-transition: .3s;
            -moz-transition: .3s;
            transition: .3s;
          }
        }

        li:hover {
          a {
            padding-left: 50px;
            color: white;
            opacity: 1;
          }
        }
      }

      &:hover {
        > ul.sub-menu {
          opacity: 1;
          visibility: visible;
          margin-top: -10px;
        }
      }
    }
  }
}
