.trip-form {
  .trip-info {
    border: 1px solid #EAEAEA;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 10px #DADADA;

    input {
      border: 0;
      border-bottom: 1px solid #CACACA;
      width: 100%;
      outline: none;
      padding: 5px 0;
      font-size: 16px;
      color: #333;
      font-family: 'Open Sans';
    }

    label {
      font-family: "Open Sans";;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 13px;
      color: #333333;
    }
  }

  .trip-stops {
    .add-stop {
    }

    .list {
      .trip-stop:first-child {
        margin-top: 10px;
      }
      .trip-stop:last-child {
        margin-bottom: 10px;
      }

      .trip-stop {
        height: 300px;
        margin: 50px 0;

        .order-number {
          width: 20%;
          background: #EAEAEA;
          height: 100%;
          float: left;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 60px;
          color: #777;
        }

        .map-container {
          width: 80%;
          height: 100%;
          float: left;
          position: relative;

          .map {
            display: block;
          }

          .place-search-box {
            position: absolute;
            top: 30px;
            left: 30px;

            input {
              border: 1px solid #CACACA;
              padding: 10px 10px;
              width: 300px;
              font-size: 14px;
              font-family: "Open Sans";
              box-shadow: 1px 1px 10px #CACACA;
              outline: none;
              color: #333333;
            }
          }
        }
      }
    }
  }
}

.btn-add-stop {
  display: block !important;
  border-radius: 60px !important;
  background: #227bda !important;
  color: white !important;
  padding: 10px 0 !important;
  margin: 20px 0;
}

.search-place-results {
  display: block;
  background: white;
  border: 1px solid #DADADA;
  position: relative;
  z-index: 10;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding: 15px 20px;
      border-bottom: 1px solid #EAEAEA;
      font-family: "Open Sans";
      font-size: 14px;
      cursor: pointer;
      &:hover {
        background: #FAFAFA;
      }
    }
  }
}
