.row {
  width: 100%;
}

.transition {
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto
  }
}

.cke_textarea_inline {
  position: relative;
  height: 200px;
  overflow-y: auto;
  border-color: transparent;
  -webkit-background-size: 0 2px, 100% 2px;
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#33cabb), to(#33cabb)), -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#ebebeb));
  background-image: -webkit-linear-gradient(#33cabb, #33cabb), -webkit-linear-gradient(#ebebeb, #ebebeb);
  background-image: linear-gradient(#33cabb, #33cabb), linear-gradient(#ebebeb, #ebebeb);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  outline: none;
  top: 30px;
  padding: 0 !important;
  font-size: 12px !important;
  font-weight: 300 !important;
}

.cke_top {
  border: 1px solid #EAEAEA !important;
  background: #fbffff !important;
}

.cke_toolbar,
.cke_toolbar:hover {
  background: #fbffff !important;
}

.cke_combo_button:hover,
.cke_button:hover {
  background: #FFFFFF !important;
}

.bootstrap-select {
  .status {
    display: none !important;
  }
}

.asside .dropdown-menu.show {
  transform: none !important;
}

.avatar-upload {
  input.avatar-input {
    padding: 2px;
  }

  label[for="avatar-title"] {
    display: none;
  }

  input[name="avatar_title"] {
    display: none;
  }
}

.avatar-view {
  img {
    position: relative;
    display: inline-block;
    line-height: 36px;
    text-align: center;
    border-radius: 100%;
    background-color: #f5f6f7;
    color: #8b95a5;
    text-transform: uppercase;
    width: 100px;
    height: 100px;
    -webkit-transition: .5s;
    transition: .5s;
    padding: 0;
    border: 0;
  }
}

.form-control {
  -webkit-background-size: 0 2px, 100% 2px;
  background-size: 0 2px, 100% 2px;
}

.bootstrap-select .dropdown-menu li a span.text {
  display: block;
}

.filter-option-inner-inner {
  color: #212529;
}

.form-control {
  font-size: 13px;
  font-weight: 300;
}

.cke.cke_reset_all.cke_chrome.cke_float.cke_browser_webkit {
  margin-top: -25px;
}

.topbar {
  //z-index: 99999;
  z-index: 200;
}

.cke {
  margin-top: 30px !important;
  border: 0 !important;
}

.sidebar {
  z-index: 999999;
}

.sidebar-collapse-trigger {
  width: 40px;
  height: 40px;
  float: right;
  background: #232a33;
  text-align: center;
  padding-top: 9px;
  font-size: 22px;
  color: white;
  font-weight: bold;
  position: relative;
  display: block;
  margin-left: auto;
  cursor: pointer;
}

.profile-info {
  h4 {
    font-size: 18px;
    white-space: normal;
    word-break: break-word;
  }
}

body.sidebar-collapsed {

  .sidebar ~ .topbar,
  .sidebar ~ main {
    margin-left: 75px;
  }

  .sidebar {
    left: -185px;

    .profile-info {
      h4 {
        visibility: hidden;
      }
    }

    .menu-item.open {
      .menu-submenu {
        span.title {
          display: block;
        }
      }
    }
  }

  form header.header {
    left: 75px;
  }
}

.header,
.topbar {
  max-width: 1870px;
}
.main-content {
  max-width: 1900px;
}

.dropdown-menu.dropdown-menu-right.show {
  z-index: 999999;
}

@media (max-width: 991px) {
  .header-title {
    font-size: 20px;
  }
  .sidebar-collapse-trigger {
    display: none;
  }

  form header.header {
    left: 0 !important;
  }

  form .main-content {
    padding-top: 210px;
  }
}

@media (max-width: 767px) {
  .aside {
    left: 0 !important;
  }
}

.aside-toggler {
  display: none !important;
}

.row {
  margin: 0;
}

//Mobile style
@media only screen and (max-width: 600px) {
  .topbar {
    height: 120px;
    z-index: 20;
  }

  .topbar-search {
    border-top: 1px solid #EAEAEA;
  }

  .tt-suggestion {
    width:100%;
  }

  .header-info {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
  }
}

.dropdown-menu, .dropdown-grid {
  z-index: 4 !important;
}

.aside {
  z-index: 4;
}

.cke_toolbar, .cke_toolbar:hover, .cke_top {
  background: #EAEAEA!important;
}

.card.textarea-card {
  .cke {
    margin-top: 0px !important;
  }
}

.textarea-input-buttons {
  margin-bottom: 10px;
  .badge {
    cursor: pointer;
  }
  .badge.clicked {
    background-color: #999;
    cursor: not-allowed;
  }
}
