@import '~et-line/style.css';
@import "../vendors/theadmin/core";
@import "../vendors/theadmin/app";
@import "../vendors/theadmin/style";
@import "vendors";

body {
  background-color: #f5f6fa !important;
}

.main-container {
  margin-left: 260px;
}

.btn-admin {
  background-color: #33cabb !important;
  border-color: #33cabb !important;
}

.login-page-bg {
  background-image: url(https://images.unsplash.com/photo-1519719498756-2f0d81cdf13b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2875&q=80)
}

.login-screen .logo {
  background: hsla(0, 0%, 100%, .5);
}

.card-body {
  table {
    th {
      font-size: 14px;
      font-weight: bold;
    }

    td {
      font-size: 14px;
    }
  }
}
