@import '~bootstrap';
@import '../../../shared/assets/scss/fonts';
@import '../../../shared/assets/scss/vendors/dropzone';
@import '../../../app/assets/scss/mobile';
@import '~et-line/style.css';

button,
a.btn {
  border-radius: 60px;
}

.btn-radius {
  border-radius: 60px;
}

.thumb-inner {
  position: relative;
  .remove-photo {
    position: absolute;
    width: 100%;
    background: rgb(214 20 20 / 70%);
    text-align: center;
    color: white;
    cursor: pointer;
    bottom: 0;
  }
}
