@media only screen and (max-width: 600px) {
  .top-menu {
    padding: 0 !important;
    position: absolute !important;
    right: 25px;
    top: 22px;

    button.navbar-toggler {
      position: absolute;
      right: -5px;
      background: white;
      top: 10px;

      .icon-bar {
        background-color: #333;
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        margin: 5px 0px;
      }
    }
  }
  .row {
    margin: 0 !important;
  }
  .logo {
    height: 100px;
  }
  .action-buttons {
    height: 60px;
    width: 100%;
    padding: 0 !important;

    .actions {
      width: 100%;
      top: -2px;

      button {
        width: 50%;
        border-radius: 0 !important;
        margin: 0 !important;
        display: inline-block !important;
      }
    }
  }
  .page-content {
    top: 55px;
    position: relative;
  }

  .banner {
    display: block !important;
    height: 550px !important;
    padding: 30px 0;
    position: relative;

    .preview-switcher {
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      top: auto !important;

      button {
        width: 50%;
        display: inline-block;
        padding: 10px 0 !important;
      }
    }

    .banner-inner {
      width: 80% !important;
      display: block;
      margin: 0px auto;
      height: auto !important;

      .heading {
        font-size: 36px !important;
      }
    }
  }

  .page-content.sticky {
    margin-top: 0 !important;
  }

  .map-places-list {
    height: auto !important;
    overflow-y: hidden !important;
  }

  .homepage {
    > .row {
      flex-direction: column-reverse;
    }
  }

  .search-tags-select {
    margin: 10px 0;
  }

  .navbar-content {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    width: 70% !important;
    height: 100vh !important;
    z-index: 50 !important;
    background: rgba(0, 0, 0, 0.8) !important;

    .menu-main-menu-container {
      ul {
        border-left: 4px solid #f89735;

        li {
          width: 100%;
          height: auto !important;
          border-bottom: 1px solid rgba(255, 255, 255, 0.4);
          height: auto !important;
          padding: 5px 0px !important;

          a {
            color: white !important;
          }
        }
      }
    }

    button {
      display: block !important;
      margin: 0px auto;
      position: relative;
      top: 30px;
      color: white !important;
      border: 1px solid white;
      padding: 10px 40px;
    }
  }

  .gm-style .gm-style-iw-c {
    max-width: initial !important;
  }

  .places-list-item {
    height: 400px !important;
    .row {
      > div {
        padding: 0;
      }
    }

    .place-name {
      font-size: 16px !important;
      padding: 15px 0 !important;
    }
    .description {
      padding: 0 15px;
    }

    .read-more {
      button {
        position: relative !important;
        right: 0 !important;
        bottom: 0 !important;
        margin: 0 auto !important;
        display: block !important;
      }
    }
  }
}
