.modal-login {
  display: block;

  .modal-dialog {
    .modal-content {
      border-radius: 0;
      border: 10px solid rgba(0, 0, 0, 0.1);
      min-height: 500px;

      .alert {
        margin-top: 25px;
      }

      h2 {
        font-family: "Open Sans";
        margin: 0 auto;
        font-size: 28px;
        font-weight: 400;
        border-bottom: 1px solid #7f858b;
        padding-top: 10px;
        padding-bottom: 20px;
      }

      form {
        input {
          border: none;
          border-bottom: 1px solid #EAEAEA;
          border-radius: 0;
          margin: 30px 0;
        }

        button {
          background: #227bda;
          border-color: #227bda;
          border-radius: 3rem;
        }
      }

      p {
        font-family: "Open Sans";
        font-size: 14px;
        padding-top:15px;

        a {
          color: #227bda;
          text-decoration: none;
        }
      }
    }
  }
}

.signup-link span {
  color: #227bda;
}
