.modal-add-place {
  display: block;

  .modal-dialog {
    .modal-content {
      border-radius: 0;
      border: 10px solid rgba(0, 0, 0, 0.1);
      min-height: 500px;

      .alert {
        margin-top: 25px;
      }

      h2 {
        font-family: "Open Sans";
        margin: 10px auto;
        padding: 20px auto;
        font-size: 28px;
        font-weight: 400;
        border-bottom: 1px solid #EAEAEA;

        &:after {
          content: "";
          height: 6px;
          display: block;
          margin: 10px auto;
          background: #227bda;
          width: 140px;
        }

      }

      form {
        input:focus,
        textarea:focus {
          outline: none;
        }

        input {
          border: 1px solid #EAEAEA !important;
          border-radius: 0;
          margin: 15px 0;
          padding: 25px 15px;
          outline: none;
        }

        textarea {
          resize: none;
          border-radius: 0;
          border: 1px solid #EAEAEA;
          height: 140px;
          outline: none;
        }

        button {
          background: #227bda;
          border-color: #227bda;
          border-radius: 3rem;
        }
      }

      p {
        font-family: "Open Sans";
        font-size: 14px;
        padding-top: 15px;

        a {
          color: #227bda;
          text-decoration: none;
        }
      }
    }
  }
}

.address-autocomplete-results  {
  background: white;
  border: 1px solid #EAEAEA;
  min-height: 125px;
  ul {
    padding:0;
    margin: 0;
    list-style: none;
    li {
      padding: 15px 20px;
      border-bottom: 1px solid #EAEAEA;
      cursor: pointer;
      font-size:14px;
      font-family: "Open Sans";
      &:last-child {
        border-bottom: 0;
      }

      &:hover {
        background: #FAFAFA;
      }
    }
  }
}

.address-search-input-block {
  position: relative;

  .address-search-spinner {
    height: 100%;
    position: absolute;
    top: 2px;
    right: 0;
    img {
      height: 100%;
    }
  }
}
