.banner {
  height: 300px;
  background-image: url(https://images.unsplash.com/photo-1519719498756-2f0d81cdf13b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2875&q=80);
  background-position: 50% 44%;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;

  .preview-switcher {
    position: absolute;
    top: 110px;
    left: 0;

    button {
      padding: 25px !important;
      border-radius: 0 !important;

      i {
        font-weight: bold;
        font-size: 30px;
      }
    }
  }

  .banner-inner {
    align-self: center;
    padding: 20px;
    width: 70%;
    height: 70%;
    position: relative;
    background: rgba(0, 0, 0, 0.6);

    .heading {
      font-size: 40px;
      color: rgba(255, 255, 255, 0.9);
      letter-spacing: 2px;
      font-family: 'Open Sans';
      margin-bottom: 20px;
      font-weight: 600;
      text-align: center;
    }

    form {
      input {
        border-radius: 0;
        padding: 20px 20px;
        height: calc(1.5em + 0.75rem + 20px);
        border: 1px solid black;
      }

      button {
        border-radius: 0;
        height: calc(1.5em + 0.75rem + 20px);
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 601px) {
  .banner.sticky {
    background-image: none;
    height: auto;
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #DADADA;
    z-index: 9;
    background: white;
    justify-content: normal;

    .banner-inner {
      width: 80%;
      padding: 15px;
      height: auto;
      background: transparent;
      margin: 0 auto;

      .heading {
        display: none;
      }

      .search-tags-select {
        height: 50px;

        .css-1wa3eu0-placeholder {
          margin-top: 10px;
        }

        .css-g1d714-ValueContainer {
          > div {
            top: -4px;
            position: relative;
          }
        }
      }
    }
  }
}

