.map-places-list {
  height: 100vh;
  overflow-y: scroll;
}

.map-places-list-item {
  display: block;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #EAEAEA;
  cursor: pointer;
  .item-content {
    padding: 15px 30px;
    font-size: 15px;
    font-family: 'Open Sans';
    letter-spacing: 0px;
  }

  &:nth-child(odd) {
    background: white;
  }

  &:nth-child(even) {
    background: #F1F1F1;
  }

  &:hover {
    background: #EAEAEA;
  }
}

.map-place {
  .place-info-box {
    width: 320px;
    height: 500px;
    overflow: hidden;
    position: relative;
    background: white;

    .images {
      height: 250px;
      overflow: hidden;

      img {
        height: 100%;
      }
    }
  }
}

.places-list-item {
  display: block;
  width: 100%;
  height: 300px;
  border-bottom: 1px solid #EAEAEA;
  cursor: pointer;
  margin: 20px 0;

  &:first-child {
    margin:0;
  }

  &:last-child {
    margin:0;
  }

  img {
    width: 400px;
    height: 100%;
  }

  &:nth-child(odd) {
    background: white;
  }

  &:nth-child(even) {
    background: #F1F1F1;
  }

  &:hover {
    background: #EAEAEA;
  }
}
