header.user-app {
  .logo {
    padding: 25px 40px;

    img {
      width: 240px;
    }
  }

  .header-buttons {
    div.vertical-center {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    height: 100%;

    .btn-main {
      display: block;
      border-radius: 60px;
      background: #227bda;
      color: white;
      padding: 10px 0;
    }

    .btn-link {
      i {
        font-size: 24px;
        position: relative;
        top: 5px;
        padding: 0px 10px;
      }
      color: #555;
      font-family: "Open Sans";
      font-weight: 700;
      text-decoration: none;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}
