.search-tags-select {
  height: 60px;

  .css-1f43avz-a11yText-A11yText {
    display: none;
  }

  .css-1pahdxg-control,
  .css-yk16xz-control,
  .css-g1d714-ValueContainer {
    height: 100%;
  }

  .css-1wa3eu0-placeholder {
    margin-top: 24px;
    top: auto !important;
    position: relative !important;
  }

  .css-b8ldur-Input {
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}
