.map {
  height: 100%;
}

.BrainhubCarousel__container,
.BrainhubCarousel,
.BrainhubCarousel__trackContainer,
.BrainhubCarousel__track {
  height: 100% !important;
}

.special-images {
  .BrainhubCarousel__track {
    width: fit-content !important;
  }
}

.BrainhubCarousel__arrows.BrainhubCarousel__arrowRight {
  position: absolute !important;
  z-index: 20;
  right: 15px;
}

.BrainhubCarousel__arrows.BrainhubCarousel__arrowLeft {
  position: absolute !important;
  z-index: 20;
  left: 15px;
}

li.BrainhubCarouselItem {
  width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  min-height: 100% !important;

  .cover-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
}

.gm-style .gm-style-iw-c {
  padding: 0 !important;
  max-height: 450px !important;
}

.gm-style-iw-d {
  padding: 0 !important;
  overflow: hidden !important;
  max-height: 450px !important;
}

#place-info-box {
  width: 500px;
  height: 400px;
}

.place-info-box-content {
  .cover {
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;

    .cover-text {
      height: 100%;
      overflow: auto;
    }

    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
    }

    .place-name {
      font-size: 24px;
      color: white;
      position: relative;
      font-weight: 600;
      font-family: "Open Sans";
      text-align: center;
      padding-top: 40px;
      letter-spacing: 1px;
    }

    .place-address {
      font-size: 16px;
      color: white;
      position: relative;
      font-weight: 500;
      font-family: "Open Sans";
      text-align: center;
      letter-spacing: 1px;
      padding: 0px 50px;
    }
  }

  .content {
    padding: 20px;
    font-size: 16px;
    font-family: 'Open Sans';
    overflow-y: scroll;
    height: 140px;
  }

  .read-more {
    padding: 10px 40px;

    button {

    }
  }
}

.place-preview-modal {
  padding: 40px;

  .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    max-height: none;
    margin: 0;

    .modal-content {
      height: 100%;
    }

    .modal-body {
      padding: 0;
      height: 100%;

      .cover {
        height: 100%;
      }

      .content {
        padding: 20px 0;
        height: 100%;
        overflow-y: auto;

        .place-name {
          text-align: center;
          font-weight: 600;
          font-family: 'Open Sans';
          letter-spacing: 1px;
          font-size: 24px;
        }

        .place-address {
          text-align: center;
          font-weight: 500;
          font-family: 'Open Sans';
          letter-spacing: 1px;
          font-size: 15px;
        }
      }
    }
  }
}

.modal-close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background: rgb(202 8 8 / 70%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  z-index: 99;
}

.place-preview-summary-right {
  padding-top: 20px;

  .place-name {
    text-align: center;
    font-weight: 600;
    font-family: 'Open Sans';
    letter-spacing: 1px;
    font-size: 24px;
  }

  .place-address {
    text-align: center;
    font-weight: 500;
    font-family: 'Open Sans';
    letter-spacing: 1px;
    font-size: 15px;
  }

  .read-more {
    button {
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
  }
}

.articles-list-grid,
.articles-preview-display{
  .article {
    height: 400px;

    .card {
      height: 100%;
      margin: 40px 0;
    }

    .content {
      padding: 20px 0;

      .title {
        text-align: center;
        font-weight: 600;
        font-family: "Open Sans";
        letter-spacing: 1px;
        font-size: 24px;
      }
    }

    .read-more {
      .btn {
        position: absolute;
        right: 20px;
        bottom: 20px;
        color:white;
        text-decoration: none;
      }
    }
  }
}

.articles-preview-display {
  .article {
    height: 600px !important;
  }
}
