.callout {
  border: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.callout-success {
  background: #5cb85c;
}

.callout-danger {
  background: #d9534f;
}
