nav.navigation {
  height: 120px;
  background: #F5F5F5;
  box-shadow: 0px 1px 5px #bababa;

  > div {
    float: none;
    height: 100%;
  }

  ul {
    padding: 0;
    margin: 0;
    height: 100%;

    li {
      float: left;
      display: block;
      width: 25%;
      text-align: center;
      height: 100%;

      a {
        display: block;
        color: #227bda;
        font-weight: 600;
        font-family: 'Open Sans';
        padding: 26px 0;
        text-decoration: none;
        border-bottom: 5px solid transparent;

        i {
          display: block;
          font-size: 28px;
          height: 40px;
        }

        &:hover,
        &.active {
          color: #227bda !important;
          border-bottom: 5px solid #227bda !important;
        }
      }
    }
  }
}
